*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;

}
div.sidebar{

    position: fixed;
    height: auto;
    width: 100px;
    height: 100%;
    overflow: auto;

    background-color: lightgray;

}
.sidebar a{
    float: left;
    margin: 10px;
    padding: 5px;
}
div.content{

    margin-left: 20px;
    width: calc(100% - 200px);
    padding: 1px 16px;
    height: 1500px;
}
.content p{

}
a{
    display: block;
    text-decoration: none;
    padding: 0;
}

.contenidoOpcion{display: block;}

@media screen and(max-width: 1200px) {
    div.sidebar{

        position: relative;
        width: 100%;
        height: auto;

    }

    .sidebar a{float: left;}
    div.content {margin-left: 0px;}
}
@media screen and (max-width:600px) {
    .sidebar a{
        float: none;
        text-align: center;
    }
}